/* For Blog Posts only */

/* Content */
h5 {
	font-size: .8em;
}
.blog-posts {
	margin: 0 7%;
	padding: 2%;
	font-size: 1.5em;
	text-align: left;
	line-height: 150%;
}
.blog-posts a {
	text-decoration: none;
	color: black;
	background: #DDD;
}
.blog-posts a:hover {
	background: #000;
	color: white;
}
.blog-posts h3 {
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
}
#intro, .blog-posts p {
	font-size: 1em;
	text-indent: 2em;
	margin-bottom: 1em;
}
.blog-image {
	text-align: center;
}
#inline, #inline-block, #block {
	margin-top: 2em;
	text-indent: 0;
	text-align: center;
}
.blog-posts h5 {
	text-align: center;
	margin-bottom: 10px;
}
.code, .inline-example, .inline-block-example, .block-example {
	background: #c0d9ec;
	border: 1px solid white;
	color: black;
	margin: 1em;
}
.inline-example img, .inline-example p {
	display: inline;
}
.inline-block-example img, .inline-block-example p {
	display: inline-block;
}
.block-example p, .block-example img {
	display: block;
}
#last-week, #next-week {
	margin-top: 1em;
	text-indent: 0;
	display: inline-block;
}
#last-week a, #next-week a {
	text-decoration: none;
	color: white;
	background: black;
	padding: 5px;
}
#last-week a:hover, #next-week a:hover {
	text-decoration: none;
	color: black;
	background: white;
}
#next-week {
	margin-left: 1em;
}
#wheredidthesodago {
	text-decoration: none;
	color: white;
	background: black;
}
#wheredidthesodago:hover {
	color: black;
	background: white;
}
#resources {
	margin: 10px 60px;
}
@media only screen and (min-width: 900px) {
	.main-content {
		width: 90%;
	}
}