/* dbc1 css */
body {
	background: url("../images/tarmac.jpg") 50% 30px #222 no-repeat;
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Raleway', 'sans-serif';
}
.top-title {
	margin: 30px 5% 0;
	padding-top: 50px;
	text-align: center;
	background-color: rgba(238, 94, 98, .95);
	font-family: 'Droid Serif', 'serif';
	border-radius: 100px 100px 0 0;
}
.second-title {
	margin: 0 20%;
	padding: 5px 0;
	background-color: rgba(214, 84, 88, .95);
	text-align: center;
	border-radius: 0 0 100px 100px;
	font-family: 'Droid Serif', 'serif';
}

.face img {
	margin: 5px auto;
	display: block;
	border: 2px solid black;
	border-radius: 100px;
}
.top-title h1 {
	margin: auto;
}
h1, h2, h3, h4, h5, h6 {
	color: #DDD;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
.container {
	background-color: rgba(142, 56, 58, .975);
	margin: 0 15%;
	border-radius: 20px;
}
.article-title h3 {
	margin: 10px 10% 0;
	padding: 5% 10% 0;
	font-size: 1.75em;
}
.article h4 {
	margin: 0 10% 10px;
	padding: 0 10%;
	font-size: 1.5em;
}
