/* Psuedo-classes for links
Positioning
A div that contains an image and a caption, and position the caption absolutely overtop the image.
Float side bar and content area */

/* Header, 

/* Content area */
.container {
	clear: both;
	background-color: rgba(142, 56, 58, .975);
	margin: 0 15%;
	border-radius: 20px;
	height: 400px;
	overflow: scroll;
}
/* Sidebar, and a 

/* Footer */

/* Spans */
/* Add padding, borders, and margins */
/* Center your content area in the browser */
/* Add width and height to divs and give them ids */