/* All Pages of DBC Phase 0, Unit 1 Websites */

/* Body */
body {
	background: url('../images/repeat.jpg');
	font-size: 16px;
	font-family: 'Raleway', 'sans-serif';
	color: #DDD;
}
strong {
	font-weight: 800;
}
em {
	font-style: italic;
}
#cover {
	background-size: 100% auto;
	background-color: rgba(33, 10, 12, .8);
	z-index: -1;
}
/* Top Title */
.top-title {
	margin: 0 5%;
	padding-top: 50px;
	text-align: center;
	background-color: rgba(238, 94, 98, .95);
	font-family: 'Droid Serif', 'serif';
	border-top: 1px solid #521416;
	border-radius: 100px 100px 0 0;
}
.top-title h1 {
	margin: auto;
	font-size: 3em;
}
.top-title h1 a {
	text-decoration: none;
	color: #DDD;
}
.top-title h1 a:hover {
	color: #222;
}
/* Subtitle */
.second-title {
	margin: 0 20%;
	padding: 5px 0;
	background-color: rgba(214, 84, 88, .95);
	text-align: center;
	border-top: 1px groove rgb(179,43,47);
	border-radius: 0 0 100px 100px;
	font-family: 'Droid Serif', 'serif';
}
.second-title h2 {
	font-size: 2em;
}
/* Navigation */

nav {
	background: rgba(51, 12, 13, .75);
	padding: 5px;
	margin: 5px 0;
}
nav ul {
	margin: 2.5% 0 2.5% 15%;
	list-style: none;
	list-style-position: center;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
	margin: 0 40px 0 0;
}
nav ul li a {
	background-color: rgba(214, 84, 88, .95);
	text-decoration: none;
	color: #DDD;
	border: 2px solid #0c2133;
	border-radius: 1px;
}
nav ul li a {
	font-size: 1.25em;
	padding: 5px;
}
nav ul li a:hover {
	color: #000;
	background: #EEE;
}
/* Contact */
.contact {
	background-color: rgba(214, 84, 88, .95);
	margin: 0 15% 10px;
	border-radius: 20px;
	text-align: center;
	padding-bottom: 1%;
	height: auto;
	float: bottom;
}
.contact-head {
	font-size: 1.15em;
	padding: 5px 0;
}
.contact ul {
	margin: 15px 0 20px 0;
	list-style: none;
}
.contact ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
}
.contact ul li a {
	background-color: #521416;;
	text-decoration: none;
	color: #DDD;
	padding: 8px;
	border: 1px solid rgba(84,214,210, .9);
	border-radius: 2px;
}
.contact ul li a:hover {
	color: #000;
	background: #EEE;
}
.facebook a img {
	max-width: 20px;
	height: auto;
	width: auto;
	margin-bottom: -3px;
}
.twitter a img {
	height: auto;
	width: auto;
	max-width: 20px;
	margin-bottom: -1px;
}
/* Copyright */
#copyright {
	background: #000;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin: 0;
	text-align: center;
}
#copyright h6 p {
	padding-top: 5px;
}
/* Box Shadows */
.top-title {
	-webkit-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
}
.container, .contact {
	-webkit-box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
}

nav ul li a {
	-webkit-box-shadow: 5px 4px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 4px 25px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 4px 25px 0px rgba(0,0,0,0.75);	
}
/* Media Queries */
@media (min-width: 360px) and (max-width: 800px) {
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	nav ul li {
		display: block;
		padding-right: 10px;
		margin: 20px 0;
	}
	nav ul li a {
		background-color: rgba(214, 84, 88, .95);
		text-decoration: none;
		color: #DDD;
		border: none;
		list-style-position: absolute center;
	}
}
@media (min-width: 360px) and (max-width: 500px) {
	.contact {
	margin: 0 5% 5px;
	}
	.contact ul li {
	display: block;
	padding: 10px;
	margin: 5px 0;
	}
}
@media (min-width: 360px) and (max-width: 650px) {
	.second-title {
		font-size: .75em;
	}
}