/* All Pages of DBC Phase 0, Unit 1 Websites */

/* Body */
body {
	background-color: #c0d9ec;
	font-size: 16px;
	font-family: 'Raleway', 'sans-serif';
	color: #DDD;
}
strong {
	font-weight: 800;
}
em {
	font-style: italic;
}
/* Top Title */
header {
	padding: 25px 0 10px 0;
	text-align: center;
	background-color: rgba(238, 94, 98, .95);
	font-family: 'Droid Serif', 'serif';
	border-top: 1px solid #521416;
}
header h1 {
	font-size: 3em;
}
header h1 a {
	text-decoration: none;
	color: #DDD;
}
header h1 a:hover {
	color: #222;
}
header hr {
	background-color: #444;
}
header h2 {
	font-size: 2em;
}
/* Navigation */
nav {
	background: rgb(214, 84, 88);
	padding: 5px;
}
nav ul {
	display: block;
	margin: 2% 0 2%;
	list-style: none;
	text-align: center;
}
nav ul a {
	background-color: rgba(214, 84, 88, .95);
	text-decoration: none;
	color: #DDD;
	font-size: 1.25em;
	padding: 5px;
}
nav ul a li {
	display: inline-block;
	list-style-type: none;
	margin-right: 40px;
	padding: 10px;
	border: 2px solid #c3dcf1;
	border-radius: 1px;
}
nav ul a li:hover{
	color: #000;
	background: #EEE;
}

/* Content */
.main-content {
	background-color: rgba(142, 56, 58, .975);
	margin: 10px 5% 5px;
	border: 2px solid rgb(179,70,73);
	border-radius: 20px;
	overflow: hidden;
}
.content {
	margin: 0 7%;
	padding: 2%;
	font-size: 1.5em;
	text-align: left;
	line-height: 150%;
}
.content h3 {
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
	margin-bottom: 4%;
}
#intro, #linked {
	font-size: 1em;
	text-indent: 2em;
}
.other-links a {
	color: #000;
	text-decoration: none;
	padding: 10px;
}
.other-links a li {
	text-indent: 4em;
	border: 1px solid #000;
	background: #d7e8f7;
	padding: 5px;
	margin-bottom: 5px;
}
.other-links a li:hover {
	color: #FFF;
	background: #000;
	border: 1px solid #FFF;
}
.other-links a li:last-child {
	margin-bottom: 0;
}
/* Block Image */
.image-height img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
/* Contact */
.contact {
	background-color: rgba(214, 84, 88, .95);
	margin: 0 15% 10px;
	border-radius: 20px;
	text-align: center;
	padding-bottom: 1%;
	height: auto;
}
.contact-head {
	font-size: 1.15em;
	padding: 5px 0;
}
.contact-head h5 {
	margin-top: 20px;
}
.contact ul {
	margin: 15px 0 20px 0;
	list-style: none;
}
.contact ul a {
	background-color: #521416;;
	text-decoration: none;
	color: #DDD;
	padding: 8px;
	border: 1px solid rgba(84,214,210, .9);
	border-radius: 2px;
	margin-right: 10px;
}
.contact ul a:last-child {
	margin-right: 0;
}
.contact ul a li {
	display: inline-block;
	list-style-type: none;
}
.contact ul a:hover {
	color: #000;
	background: #EEE;
}
.facebook img {
	max-width: 20px;
	height: auto;
	width: auto;
	margin-bottom: -3px;
}
.twitter img {
	height: auto;
	width: auto;
	max-width: 20px;
	margin-bottom: -1px;
}
/* Copyright */
#copyright {
	background: #000;
	position: absolute bottom;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin: 0;
	text-align: center;
}
#copyright h6 p {
	padding-top: 5px;
}
/* Box Shadows */
.top-title {
	-webkit-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.4);
}
.container, .contact {
	-webkit-box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.75);
}
/* Media Queries */
@media only screen and (min-width: 900px) {
	.main-content {
		width: 800px;
		margin: 10px auto;
	}
	.contact {
		width: 800px;
		margin: 10px auto;
	}
}
@media only screen and (max-width: 1110px) {
	nav ul, nav ul a, nav ul li {
		margin: 0;
		padding: 0;
	}
	nav ul {
		list-style: none;
		text-align: center;
	}
	nav ul a {
		background-color: rgba(214, 84, 88, .95);
		text-decoration: none;
		color: #DDD;
		list-style-position: absolute center;
	}
	nav ul a li {
		display: block;
		padding: 10px;
		border: none;
		margin-right: 0;
		border-bottom: 1px dotted #222;
	}
	#last-nav {
		border-bottom: none;
	}
}
@media screen and (max-width: 670px) {
	.contact ul, .contact ul a, .contact ul li {
		margin: 0;
		padding: 0;
	}
	.contact ul {
		list-style: none;
		text-align: center;
	}
	.contact ul a {
		background-color: rgba(214, 84, 88, .95);
		text-decoration: none;
		color: #DDD;
		border: none;
		list-style-position: absolute center;
	}
	.contact ul a li {
		display: block;
		padding: 10px auto;
		border: none;
		margin-right: 0;
		border-bottom: 1px dotted #222;
		margin: 10px 0;
		padding: 10px 0;
	}
	#last-contact {
		border-bottom: none;
		margin-bottom: 20px;
	}
	.contact ul a li:hover {
	color: #000;
	background: #EEE;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
